<h1>All the things!</h1>

<ul>
  <li><a href="/humans">Humans!</a></li>
  <li><a href="/cats">Cats!</a></li>
  <li><a href="/houses">Houses!</a>
  <li><a href="/flash_test">Test the flash implementation</a></li>
</ul>